# Default ignored files
/../../A. Palindrome /.idea/shelf/
/../../A. Palindrome /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../A. Palindrome /.idea/httpRequests/
# Datasource local storage ignored files
/../../A. Palindrome /.idea/dataSources/
/../../A. Palindrome /.idea/dataSources.local.xml
