# Default ignored files
/../../C. The Even Prefix /.idea/shelf/
/../../C. The Even Prefix /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../C. The Even Prefix /.idea/httpRequests/
# Datasource local storage ignored files
/../../C. The Even Prefix /.idea/dataSources/
/../../C. The Even Prefix /.idea/dataSources.local.xml
